@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-neutral-100 text-neutral-900 font-sans;
	}
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(85, 73, 113, 0.4);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 73, 113, 0.7);
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(85, 73, 113, 0.4) transparent;
  }
}
